---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>work experiences</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.work-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <!-- Add the download link here at the bottom -->
    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <p><a href="{{ site.baseurl }}/assets/cv_wjck.pdf" target="_blank">Download CV here</a></p>
      </div>
    </div>
  </div>
</div>